
UserManagement/.vs/

UserManagement/User.API/bin/

UserManagement/User.API/obj/

UserManagement/User.Domain/bin/

UserManagement/User.Domain/obj/

UserManagement/User.Infrastructure/bin/

UserManagement/User.Infrastructure/obj/

UserManagement/User.Test/bin/

UserManagement/User.Test/obj/

ProjectManagement/.vs/

ProjectManagement/Project.Api/bin/

ProjectManagement/Project.Domain/bin/

ProjectManagement/Project.Api/obj/

ProjectManagement/Project.Domain/obj/

ProjectManagement/Project.Infrastructure/bin/

ProjectManagement/Project.Infrastructure/obj/
